#map {

  height: 500px;
  width: 80%;
  border: 1px dotted #666;
}

.leaflet-image-layer, .leaflet-marker-pane, .leaflet-shadow-pane, .label {

  transition: opacity 0.7s;
}

.leaflet-image-layer, .z5 .leaflet-marker-pane, .z5 .leaflet-shadow-pane, .z6 .small {

  opacity: 0;
}

.z5 .leaflet-image-layer {

  opacity: 1;
}
